<launch>
	<rosparam command="load" file="$(find pm_manipulation)/launch/arm_server.yaml" />
	 <arg name="joint_state" default="/arm5e/joint_state_angle_fixed" />
	 <arg name="joint_state_command" default="/arm5e/command_angle" />
	 <arg name="max_current" default="1.0" />
	 <arg name="max_velocity" default="0.25" />
	 <arg name="velocity_aperture" default="0.4" /><!--0.4-->
	 <arg name="gripper_manipulation" default="0.5" />
	 <arg name="gripper_closed" default="0.05" />
		 
	 <param name="joint_state" value="$(arg joint_state)" />
	 <param name="joint_state_command" value="$(arg joint_state_command)" />
	 <param name="max_current" value="$(arg max_current)" />
	 <param name="max_velocity" value="$(arg max_velocity)" />
	 <param name="velocity_aperture" value="$(arg velocity_aperture)" />
	 <param name="gripper_manipulation" value="$(arg gripper_manipulation)" />
	 <param name="gripper_opened" value="$(arg gripper_closed)" />

<node name="arm_server" pkg="pm_manipulation" type="arm_server" respawn="false" output="screen" />

</launch>
