<launch>

	 <arg name="joint_state" default="/arm5e/joint_state_angle" />
	 <arg name="joint_state_command" default="/arm5e/command_angle" />
	 <arg name="joint_state_fixed" default="/arm5e/joint_state_angle_fixed" />
	 <arg name="target_frame_id" default="target_frame_id" />
	 <arg name="source_frame_id" default="source_frame_id" />
	 		 
	 <param name="joint_state" value="$(arg joint_state)" />
	 <param name="joint_state_command" value="$(arg joint_state_command)" />
	 <param name="joint_state_fixed" value="$(arg joint_state_fixed)" />
	 <param name="target_frame_id" value="$(arg target_frame_id)" />
	 <param name="source_frame_id" value="$(arg source_frame_id)" />

     <node name="joint_offset_test" pkg="pm_manipulation" type="joint_offset_test" respawn="false" output="screen" />

</launch>
