<launch>
  <!-- arg name="input_basename" default="uwsimFeb15" />
  <param name="input_basename" value="$(find pcl_manipulation)/resources/$(arg input_basename)" / -->
    
  <arg name="input_basename" default="cuba" />
  <param name="input_basename" value="$(find pm_examples)/resources/$(arg input_basename)" />
  
  <node name="grasp_planning_example" pkg="pm_examples" type="grasp_planning_example" output="screen" respawn="false"/>
</launch>


